{% extends "core/base.html" %}

{% block title %}Nueva deuda{% endblock %}
{% block page_title %}Nueva deuda{% endblock %}

{% block breadcrumbs %}
  {% include "core/partials/_breadcrumbs.html" with breadcrumbs="Deudores / Nueva deuda" %}
{% endblock %}

{% block page_actions %}
  <a class="btn btn-outline" href="{% url 'core:deudores_detail' deudor.id %}">Volver</a>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      {% include "core/partials/_form.html" with form=form submit_label="Crear deuda" %}
    </div>
  </div>
{% endblock %}
